body {
  background: url("./assets/lights.jpg") center / cover no-repeat fixed;
  color: #242424;
  transition: all 0.4s ease;
}

strong {
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 1px rgba(219, 84, 0, 0.6),
    0 0 12px rgba(214, 150, 11, 0.6),
    0 0 24px rgba(177, 139, 0, 0.5);
}

.dark-theme p {
    color: white;
}

.dark-theme .logo2 {
  filter: drop-shadow(0 0 10px rgb(9, 217, 172));
  transition: filter 0.3s ease-in-out;
}

.dark-theme .logo2:hover {
  filter: drop-shadow(0 0 20px rgb(255, 89, 0));
  -webkit-filter: drop-shadow(0 0 20px rgb(255, 89, 0));
}

.about {
  padding: 24px 0 20px;
}

.about__row {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.about__card {
  background: rgba(255, 255, 255, 0.35);
  padding: 28px;
  border-radius: 16px;
  max-width: 840px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(24px);
   -webkit-backdrop-filter: blur(24px);
}

.dark-theme .about__card {
  background: rgb(20, 20, 20, 0.15);
  backdrop-filter: blur(72px);
   -webkit-backdrop-filter: blur(72px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 30px rgb(7, 184, 211);
}

.about__img {
  width: 100%;
  max-width: 300px;
  border-radius: 16px;
  filter: grayscale(100%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}
.dark-theme .about__img {
  box-shadow: 0 0 30px rgb(217, 106, 9);
}

.about__title {
  font-size: 48px;
  margin-bottom: 16px;
  color: #c55c00;
  text-shadow:
    0 0 1px rgba(226, 132, 1, 0.6),
    0 0 12px rgba(222, 150, 8, 0.6),
    0 0 24px rgba(219, 174, 14, 0.5);
}
.dark-theme .about__title {
  color: rgba(73, 148, 240, 0.15); /* faint fill */
  text-shadow:
    0 0 1px rgba(73, 240, 98, 0.6),
    0 0 12px rgba(18, 213, 132, 0.6),
    0 0 24px rgba(50, 202, 20, 0.5);
}

.about__highlight {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #000000;
}
.dark-theme strong {
  color: rgba(0, 255, 221, 0.596); /* faint fill */
  text-shadow:
    0 0 1px rgba(5, 161, 176, 0.6),
    0 0 12px rgba(11, 200, 214, 0.6),
    0 0 24px rgba(5, 172, 187, 0.5);
}

.about__content p {
  margin-bottom: 16px;
  line-height: 1.7;
}

.about__desc {
font-weight: 500;
}

.about__links {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.about__links a {
  font-size: 20px;
  color: #242424;
  transition: transform 0.3s ease;
}
.dark-theme .about__links a {
  color: white;
}

.about__links a:hover {
  transform: scale(1.2);
  color: #914400;
  text-shadow:
    0 0 1px rgba(226, 132, 1, 0.6),
    0 0 12px rgba(222, 150, 8, 0.6),
    0 0 24px rgba(219, 174, 14, 0.5);
}

.dark-theme .about__links a.youtube:hover {
  color: #000000;
  text-shadow: 
    0 0 1px rgb(255, 0, 0),
    0 0 12px rgb(255, 0, 0),
    0 0 24px rgb(255, 0, 0);
}

.dark-theme .about__links a.github:hover {
  color: #000000;
  text-shadow:
    0 0 1px rgba(255, 255, 255, 0.6),
    0 0 12px rgba(255, 255, 255, 0.6),
    0 0 24px rgba(255, 255, 255, 0.5);
}

.dark-theme .about__links a.linkedin:hover {
  color: #000000;
  text-shadow:
    0 0 1px rgba(0, 114, 177, 1),
    0 0 12px rgba(0, 114, 177, 1),
    0 0 24px rgba(0, 114, 177, 1);
}

.dark-theme .about__links a.resume:hover {
  color: #000000;
  text-shadow:
    0 0 1px rgba(13, 190, 210, 0.6),
    0 0 12px rgba(13, 157, 201, 0.6),
    0 0 24px rgba(17, 213, 220, 0.5);
}

.dark-theme .modal__about,
.dark-theme .modal__about p,
.dark-theme .modal__about h3,
.dark-theme .modal__about h4 {
  color: #242424;
}

body.dark-theme {
  background-color: #0a0a0a;
  color: white;
  background: url("./assets/aurora.jpg") center / cover no-repeat fixed;
}
body.dark-theme::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(98, 98, 98, 0.41);
  z-index: -1;
}

/* MOBILE */
@media (max-width: 768px) {
  .about__row {
    flex-direction: column;
    text-align: center;
  }

  .about__card {
    padding: 20px;
  }

  .about__img--wrapper {
    max-width: 300px;
  }
}