body {
  background: url("./assets/lights.jpg") center / cover no-repeat fixed;
  color: #242424;
  transition: all 0.4s ease;
}

.dark-theme p {
    color: white;
}

.about {
  padding: 24px 0 20px;
}

.about__row {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.about__card {
  background: rgba(255, 255, 255, 0.35);
  padding: 28px;
  border-radius: 16px;
  max-width: 840px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(24px);
   -webkit-backdrop-filter: blur(24px);
}

.dark-theme .about__card {
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 30px rgb(7, 184, 211);
}

.about__img {
  width: 100%;
  max-width: 300px;
  border-radius: 16px;
  filter: grayscale(100%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}
.dark-theme .about__img {
  box-shadow: 0 0 30px rgb(217, 106, 9);
}

.about__title {
  font-size: 48px;
  margin-bottom: 16px;
  color: #c55c00;
}
.dark-theme .about__title {
  color: rgba(73, 148, 240, 0.15); /* faint fill */
  text-shadow:
    0 0 1px rgba(73, 240, 98, 0.6),
    0 0 12px rgba(18, 190, 213, 0.6),
    0 0 24px rgba(50, 202, 20, 0.5);
}

.about__highlight {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #000000;
}
.dark-theme .about__highlight {
  color: rgba(9, 180, 214, 0.596); /* faint fill */
  text-shadow:
    0 0 1px rgba(20, 208, 225, 0.6),
    0 0 12px rgba(18, 218, 232, 0.6),
    0 0 24px rgba(8, 218, 237, 0.5);
}

.about__content p {
  margin-bottom: 16px;
  line-height: 1.7;
}

.about__links {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.about__links a {
  font-size: 20px;
  color: #242424;
  transition: transform 0.3s ease;
}
.dark-theme .about__links a {
  color: white;
}

.about__links a:hover {
  transform: scale(1.2);
  color: #f06449;
}

.about__links a.youtube:hover {
  color: #ff0000;
}

.about__links a.github:hover {
  color: #333;
}
.dark-theme .about__links a.github:hover {
  color: #d900ff;
}

.about__links a.linkedin:hover {
  color: #0077b5;
}

.dark-theme .modal__about,
.dark-theme .modal__about p,
.dark-theme .modal__about h3,
.dark-theme .modal__about h4 {
  color: #242424;
}

body.dark-theme {
  background-color: #0a0a0a;
  color: white;
  background: url("./assets/aurora.jpg") center / cover no-repeat fixed;
}
body.dark-theme::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(98, 98, 98, 0.41);
  z-index: -1;
}

/* MOBILE */
@media (max-width: 768px) {
  .about__row {
    flex-direction: column;
    text-align: center;
  }

  .about__card {
    padding: 20px;
  }

  .about__img--wrapper {
    max-width: 300px;
  }
}